vrrp_script chk_gw {
  script       "/etc/keepalived/checkscript.sh"
  interval 10  # check every 10 seconds
  fall 2       # require 2 failures for KO
  rise 2       # require 2 successes for OK
}

vrrp_instance 1 {
 state MASTER
 interface eth1
 virtual_router_id 1
 priority 200
 advert_int 1
 use_vmac vrrp.1
 authentication {
  auth_type PASS
  auth_pass heslo
 }
 virtual_ipaddress {
  172.16.1.1
 }
 track_script {
  chk_gw
 }
  notify "/etc/keepalived/notify.sh vrrp.1"
}
